# Actions workflow

name: Build module

on: 
  pull_request: # Trigger on PRs to deploy branch
    branches:
      - deploy
    types: [ closed ]
    
    workflow_dispatch: # Allow manual trigger
    
jobs:
  build:
    if: github.event.pull_request.merged == true # only run if we've merged
    runs-on: ubuntu-latest
    steps:
      # Checkout the deploy branch
      - uses: actions/checkout@v2
          
      - name: Build module
        shell: pwsh
        run: pwsh -command './tasks.ps1 Build -Verbose'
          
      - name: Upload build artifact
        uses: actions/upload-artifact@v2.2.3
        with:
          name: module-artifact
          path: ./build/  

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: 
        uses: actions/download-artifact@v2
        with: 
          name: module-artifact  
          path: build  
      
      - name: publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: pwsh
        run: pwsh -command './tasks.ps1 Publish -Verbose'
          
          